
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>设置个人资料</title>
	<style>
	  body{
	       padding-top:120px;
		   }
	  #cuowu{
	      display:none;
		  }
	</style>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    

    <!-- Custom styles for this template -->
   
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<div class="container">
  <div class="row col-lg-6">
    <h1>请设置个人资料</h1>
	<form>
  <div class="form-group">
    <label for="name">姓名</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="请输入真实姓名">
  </div>
  <div class="form-group">
    <label for="email">邮箱</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="请输入有效邮箱">
  </div>
  <div class="form-group">
      <input type="radio" name="xinbie" value="男" > 男
	  <input type="radio" name="xinbie" value="女"> 女
  </div>
  <button type="button" id="tijiao" class="btn btn-default">提交</button>
  </form>
  <a href="/">返回主页</a>
   <div class="alert alert-danger" role="alert" id="cuowu"></div>
 <div>
<div>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-2.0.3.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	  $("#tijiao").click(function(){
	    $.post("/setinformation",{
		  "name":$("#name").val(),
		  "email":$("#email").val(),
		  "xinbie":$("input[name='xinbie']:checked").val()
		  })
	  }) 
	</script>
  </body>
</html>
